/* VARIABLES */

:root{
  --main-blue-color: #5267DF;
  --main-red-color: #FA5959;
  --main-dark-blue: #242A45;
  --main-grey-color: #9194A2;
}

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:
  url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src:
  url('../fonts/rubik-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

ul{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f2f2f2;  
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1144px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}


.site-header{
  padding-top: 48px;
}

.header-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 13px;
}

.header-content__list{
  display: flex;
  align-items: center;
  list-style: none;
}

.header-content__item{
  margin-right: 44px;
}

.header-content__item > a{
  text-decoration: none;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: var(--main-dark-blue);
}

.header-content__item > a:hover{
  color: var(--main-red-color);
}

.header-box__button,
.contact__btn
{
  display: inline-block;
  padding-top: 15px;
  padding-right: 32px;
  padding-bottom: 15px;
  padding-left: 34px;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  border: 2px solid transparent;
  background: var(--main-red-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}

.header-box__button:hover,
.contact__btn:hover
{
  background: #FFFFFF;
  border: 2px solid var(--main-red-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  color: var(--main-red-color);
}



.hero{
  padding-top: 117px;
  padding-bottom: 200px;
  background-image: url("../images/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 720px);
}

.hero__info{
  width: 540px;
}

.hero__heading{
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: var(--main-dark-blue);
}

.hero__desc{
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-dark-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.hero__btn__box,
.download__btn__box
{
  display: flex;
  align-items: center;
}

.hero__btn,
.download__btn
{
  display: inline-block;
  margin-right: 16px;
  padding: 10px 24px;
  background: var(--main-blue-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  border: 2px solid transparent;
  text-decoration: none;
  opacity: 1;
  transition: all 1s ease;
}

.download__btn{
  margin-right: 0;
}

.hero__btn:hover{
  background: #FFFFFF;
  border: 2px solid var(--main-blue-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  letter-spacing: 0.25px;
  color: var(--main-blue-color);
  
}

.hero__btn--second{
  background: #F7F7F7;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: var(--main-dark-blue);
  mix-blend-mode: normal;
  opacity: 0.75;
}

.hero__btn--second:hover{
  background: #FFFFFF;
  border: 2px solid #5B6074;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  color: var(--main-dark-blue);
  opacity: 0.75;
  transition: opacity 1s ease;
}



.features__box{
  width: 540px;
  margin: 0 auto;
}

.features__list{
  width: 730px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style: none;
  border-bottom: 3px solid #495dcf33;
}

.features__item{
  margin-top: 72px;
  padding-bottom: 27px;
  padding-right: 40px;
  padding-left: 40px;
}

.features__item:first-child{
  border-bottom: 5px solid var(--main-red-color);
}

.features__item > a{
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.533333px;
  color: var(--main-dark-blue);
  text-decoration: none;
}

.features__item > a:hover{
  color: var(--main-red-color);
}

.features__info{
  position: relative;
  width: 445px;
  float: right;
  margin-top: 129px;
}

.features__info::before{
  position: absolute;
  content: "";
  background-image: url("../images/features-before.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1065px;
  height: 435px;
  right: 134%;
  top: -20px;
}

.download__heading,
.features__heading,
.features__subheading,
.question__heading
{ 
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  color: var(--main-dark-blue);
}

.features__subheading{
  text-align: left;
}


.download{
  padding-top: 695px;
}


.download__desc{
  width: 540px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.download__desc > p, 
.features__desc,
.features__subdesc,
.question__desc
{
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--main-dark-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.features__subdesc{
  text-align: left;
}

.features__btn,
.question__btn
{
  display: inline-block;
  margin-top: 8px;
  padding: 10px 24px;
  text-align: center;
  background: var(--main-blue-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  text-decoration: none;
}

.question__btn__box{
  width: 200px;
  margin: 0 auto;
  margin-top: 68px;
}

.download__list{
  width: 908px;
  display: flex;
  margin: 0 auto;
  list-style: none;
}

.download__item{
  margin-left: 34px;
  padding-top: 181px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 40px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
}

.download__item:first-child{
  position: relative;
  margin-left: 0px;
}

.download__item:first-child::after{
  position: absolute;
  content: "";
  background-image: url("../images/chrome-brauzer.svg");
  background-repeat: no-repeat;
  width: 105px;
  height: 100px;
  top: 49px;
  left: 90px;
}

.download__item:nth-child(2){
  position: relative;
  top: 50px;
}

.download__item:nth-child(2)::after{
  position: absolute;
  content: "";
  background-image: url("../images/firefox-brauzer.svg");
  background-repeat: no-repeat;
  width: 105px;
  height: 100px;
  top: 49px;
  left: 90px;
}

.download__item:nth-child(3){
  position: relative;
  top: 100px;
}

.download__item:nth-child(3)::after{
  position: absolute;
  content: "";
  background-image: url("../images/opera-brauzer.svg");
  background-repeat: no-repeat;
  width: 105px;
  height: 100px;
  top: 49px;
  left: 90px;
}

.download__subheading{
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
  color: var(--main-dark-blue);
}

.download__subdesc{
  position: relative;
  margin-bottom: 54px;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: var(--main-dark-blue);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.download__subdesc::after{
  position: absolute;
  content: "";
  background-image: url("../images/list-before.svg");
  background-repeat:repeat-x;
  width: 280px;
  height: 100%;
  top: 60px;
  left: -25px;
}

.question{
  padding-top: 229px;
  padding-bottom: 149px;
}


.question__details{
  width: 540px;
  margin: 0 auto;
}

.question__details:first-child,
.question__details:nth-child(2),
.question__details:nth-child(3),
.question__details:nth-child(4)
{
  position: relative;
  margin-bottom: 13px;
}

.question__details:first-child::before{
  position: absolute;
  content: "";
  top: -10px;
  width: 100%;
  height: 2px;
  background: var(--main-dark-blue);
  opacity: 0.15;
}

.question__details:first-child::after{
  position: absolute;
  content: "";
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: var(--main-dark-blue);
  opacity: 0.15;
}

.question__details:nth-child(2)::after{
  position: absolute;
  content: "";
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: var(--main-dark-blue);
  opacity: 0.15;
}

.question__details:nth-child(3)::after{
  position: absolute;
  content: "";
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: var(--main-dark-blue);
  opacity: 0.15;
}

.question__details:nth-child(4)::after{
  position: absolute;
  content: "";
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: var(--main-dark-blue);
  opacity: 0.15;
}









.question__box{
  margin-top: 76px;
}

.question__summary{
  position: relative;
  font-size: 18px;
  line-height: 32px;
  color: var(--main-dark-blue);
  list-style: none;
}

.question__summary::after{
  position: absolute;
  content: "";
  background: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 18px;
  top: 10px;
  right: 20px;
}

.question__summary:hover{
  color: var(--main-red-color);
  cursor: pointer;
}

.question__summary:active .question__summary::after{
  position: absolute;
  content: "";
  background: url("../images/uparrow.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 18px;
  top: 10px;
  right: 20px;
}

.question__details > p{
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--main-dark-blue);
  mix-blend-mode: normal;
  opacity: 0.75;
}

.contact{
  background: var(--main-blue-color);
}

.contact__box{
  width: 475px;
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 74px;
  text-align: center;
}

.contact__subdesc{
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;
  color: #FFFFFF;
}

.contact__heading{
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #FFFFFF;
}

.contact__input{
  width: 300px;
  margin-right: 16px;
  padding: 10px 0;
  padding-left: 20px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: rgba(36, 42, 69, 0.250109);
  border: none;
  border-radius: 5px;
}

.contact__btn{
  padding: 10px 24px;
  background: var(--main-red-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  border-radius: 5px;
}


.site-footer{
  background: var(--main-dark-blue);
}

.site-footer__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

.site-footer__info{
  display: flex;
  align-items: center;
}

.site-footer__list{
  display: flex;
  margin-left: 65px;
  list-style: none;
}

.site-footer__item:nth-child(2){
  margin: 0 44px;
}

.site-footer__item > a{
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  text-decoration: none;
}

.site-footer__item > a:hover{
  color: var(--main-red-color);
}

.site-footer__item{
  color: #fff;
  text-decoration: none;
  margin-right: -5px;
}

.site-footer__item:hover{
  color: var(--main-red-color);
}